<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.uniba.de/swt/expr/BahnExpr"
			class = "de.uniba.swt.expr.bahnExpr.BahnExprPackage"
			genModel = "model/generated/BahnExpr.genmodel" />
	</extension>
</plugin>
